<div class="bg-dark-2 main-navigation">
    <div class="logo">
        <%= partial "./partials/pui-svg" %>
        <span class="logo-type">Pivot Strap</span>
    </div>
    <ul class="type-dark-11">
        <li>Home</li>
        <li>Something</li>
        <li>something</li>
    </ul>
</div>
