<div class="sub-navigation">
    <ul class="h4 em-alt">
        <li><a href="#" class="type-dark-2 em-high">Content Views</a></li>
        <li><a href="" class="type-dark-2 em-high">Dashboard</a></li>
        <li><a href="" class="type-dark-2 em-high">Navigation</a></li>
        <li><a href="" class="type-dark-2 em-high">Forms and Controls</a></li>
    </ul>
</div>
