---
title: Pivotal UI Examples
---

<h1>Pattern Library</h1>
<hr class="divider-alternate-1" />

<p class="h3 type-dark-4">
The Pattern library is a collection of UI design patterns. Design patterns are recurring solutions that solve common design problems and provide a common language for people who create user interfaces. In general, patterns do not specify requirements, but rather, present recommended solutions to design problems. Patterns build on that approach by additionally considering the needs of complex tasks, and the habits and motivations of its users, in their recommendations.
</p>

<h3>Content Views</h3>
<hr class="divider-alternate-1" />
